In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [1]:
from skinet.utils.athena_tools import *
conn = athena_connection()
df = load_from_athena(conn, "select * from default.tm_list_header_hj")
df.head()

/usr/local/lib/python3.6/dist-packages/fastparquet/dataframe.py:5: FutureWarning: pandas.core.index is deprecated and will be removed in a future version.  The public classes are available in the top-level namespace.
  from pandas.core.index import CategoricalIndex, RangeIndex, Index, MultiIndex

...tmp_db name = tmp_20200629_10_55_04_5c08d413ed2779dab12d33362825add09e3a40d7
Start creating table
drop table if exists default.tmp_20200629_10_55_04_5c08d413ed2779dab12d33362825add09e3a40d7
<< table not exist

        create  table         default.tmp_20200629_10_55_04_5c08d413ed2779dab12d33362825add09e3a40d7
        with (format='Parquet', parquet_compression='GZIP')
        as
        select * from default.tm_list_header_hj
.
>> Athena Query Success!!
>> Athena Query EXCUTION COMPLETE....
>> S3 FILE GENERATION SUCCESS!! (File count: 4)
Elapsed Time = 12.00
>> Start downloading table
aws s3 cp s3://adt-sandbox/dsc/tables/e07c7fc6-9f24-4772-9856-58fdde3fb854 /home/skinet/tmp/tmp_20200629_10_55_04_5c08d413ed2779dab12d33362825add09e3a40d7 --recursive
Elapsed Time = 3.52
>> Loading data
Dropping tmp db
<< Delete s3://adt-sandbox/dsc/tables/e07c7fc6-9f24-4772-9856-58fdde3fb854
Removing tmp_dir!
Elapsed Time for downloading and loading = 8.33
Total Elapsed Time = 23.85

,listid,listname,listtypecd,extracteddate,extractedtime,extractorid,requestcnt,extractedcnt,isallocation,teamcd,extractedgbn,work_dt,listtype
0,123675,★ADT화재안심(20190711)_일반,35,2019/07/11,13:48:38,K1170127,12342,12342,Y,402,2,20200203,화재
1,122975,★ADT화재안심(20170808)_법인(지에이엠파트너스),35,2017/08/08,11:30:46,K1170127,106,106,Y,402,2,20200203,화재
2,123323,★ADT화재안심(20180515)_2월신규(재),35,2018/05/15,13:16:01,K1170127,2577,2577,Y,402,2,20190804,화재
3,122923,★ADT화재안심(20170712)_미처리(3~4월),35,2017/07/12,16:37:49,K1170127,18993,18993,Y,402,2,20191021,화재
4,123068,★ADT화재안심(20171103)_복구1천기가입,35,2017/11/03,20:08:04,K1170127,13309,13309,Y,402,2,20191021,화재

In [2]:
df.isnull().sum()

listid           0
listname         0
listtypecd       0
extracteddate    0
extractedtime    0
extractorid      0
requestcnt       0
extractedcnt     0
isallocation     0
teamcd           0
extractedgbn     0
work_dt          0
listtype         0
dtype: int64

### null값은 없음

In [3]:
print('listid total :',  df.listid.count())
print('listid unique : ', df.listid.nunique())

listid total : 46556
listid unique :  165

### 동일 listid 여러개 존재

In [5]:
df[df['listid'] == 122972]

,listid,listname,listtypecd,extracteddate,extractedtime,extractorid,requestcnt,extractedcnt,isallocation,teamcd,extractedgbn,work_dt,listtype
329,122972,★ADT화재안심(20170804)_미처리(5월),35,2017/08/04,13:42:36,K1170127,19362,19362,Y,402,2,20190820,화재
902,122972,★ADT화재안심(20170804)_미처리(5월),35,2017/08/04,13:42:36,K1170127,19362,19362,Y,402,2,20200414,화재
932,122972,★ADT화재안심(20170804)_미처리(5월),35,2017/08/04,13:42:36,K1170127,19362,19362,Y,402,2,20200413,화재
969,122972,★ADT화재안심(20170804)_미처리(5월),35,2017/08/04,13:42:36,K1170127,19362,19362,Y,402,2,20191018,화재
1077,122972,★ADT화재안심(20170804)_미처리(5월),35,2017/08/04,13:42:36,K1170127,19362,19362,Y,402,2,20200323,화재
...,...,...,...,...,...,...,...,...,...,...,...,...,...
46170,122972,★ADT화재안심(20170804)_미처리(5월),35,2017/08/04,13:42:36,K1170127,19362,19362,Y,402,2,20200209,화재
46198,122972,★ADT화재안심(20170804)_미처리(5월),35,2017/08/04,13:42:36,K1170127,19362,19362,Y,402,2,20200226,화재
46208,122972,★ADT화재안심(20170804)_미처리(5월),35,2017/08/04,13:42:36,K1170127,19362,19362,Y,402,2,20200530,화재
46275,122972,★ADT화재안심(20170804)_미처리(5월),35,2017/08/04,13:42:36,K1170127,19362,19362,Y,402,2,20200429,화재
46383,122972,★ADT화재안심(20170804)_미처리(5월),35,2017/08/04,13:42:36,K1170127,19362,19362,Y,402,2,20191113,화재

### 동일 listid는 모든 값이 동일하고 work_dt만 다름. 최초 생성시에 listid 만들어지면 불변하지만 재사용시마다 work_dt가
### 추가되면서 새로 생기는 듯?

In [13]:
print('최초추출일자', df.extracteddate.min())
print('최종추출일자', df.extracteddate.max())

최초추출일자 2017/03/15
최종추출일자 2020/05/07

In [14]:
print('최초work_dt', df.work_dt.min())
print('최종work_dt', df.work_dt.max())

최초work_dt 20190609
최종work_dt 20200603

In [15]:
df.isallocation.value_counts()

Y    45490
N     1066
Name: isallocation, dtype: int64

In [18]:
print('미할당list최초추출일', df[df['isallocation'] == 'N'].extracteddate.min())
print('미할당list최종추출일', df[df['isallocation'] == 'N'].extracteddate.max())

미할당list최초추출일 2017/03/22
미할당list최종추출일 2020/04/01

In [19]:
print('미할당list최초work_dt', df[df['isallocation'] == 'N'].work_dt.min())
print('미할당list최종work_dt', df[df['isallocation'] == 'N'].work_dt.max())

미할당list최초work_dt 20190609
미할당list최종work_dt 20200603

In [9]:
df.groupby('listtype').nunique()['listid']

listtype
정전     16
주택      3
화재    146
Name: listid, dtype: int64

주택 list는 3개밖에 없고, 기존에 추출된 걸 계속해서 재활용하고 있음