In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
import time
import warnings
from skinet.utils.athena_tools import *
warnings.filterwarnings("ignore")

In [2]:
# matplotlib 한글 나오게 하기

import matplotlib as mpl
import matplotlib.pylab as plt2 

plt2.rcParams["font.family"] = "Nanum"
plt2.rcParams["font.size"] = 12
plt2.rcParams["figure.figsize"] = (14, 4) 
mpl.rcParams['axes.unicode_minus'] = False

In [3]:
from skinet.utils.athena_tools import *
conn = athena_connection()

In [4]:
df = pd.read_csv('유치원학원.csv')

In [5]:
magam = load_from_athena(conn, 'SELECT DISTINCT * FROM default.monthly_deadline_202010')

...tmp_db name = tmp_20201117_11_17_59_1d2903cb6d4fb3fbebe68aec7ae9475a07ff0971
Start creating table
drop table if exists default.tmp_20201117_11_17_59_1d2903cb6d4fb3fbebe68aec7ae9475a07ff0971
<< table not exist

        create  table         default.tmp_20201117_11_17_59_1d2903cb6d4fb3fbebe68aec7ae9475a07ff0971
        with (format='Parquet', parquet_compression='GZIP')
        as
        SELECT DISTINCT * FROM default.monthly_deadline_202010
..
>> Athena Query Success!!
>> Athena Query EXCUTION COMPLETE....
>> S3 FILE GENERATION SUCCESS!! (File count: 24)
Elapsed Time = 22.97
>> Start downloading table
aws s3 cp s3://adt-sandbox/dsc/tables/2fb94383-e157-432a-95a4-89bad5038adb /home/skinet/tmp/tmp_20201117_11_17_59_1d2903cb6d4fb3fbebe68aec7ae9475a07ff0971 --recursive
Elapsed Time = 33.23
>> Loading data
Dropping tmp db
<< Delete s3://adt-sandbox/dsc/tables/2fb94383-e157-432a-95a4-89bad5038adb
Removing tmp_dir!
Elapsed Time for downloading and loading = 14.61
Total Elapsed Time = 70.81

In [6]:
magam.shape

(766882, 61)

In [7]:
filtered = magam[(magam['sms_yn'] == 'Y') & (magam['adt1_yn'].isin(['Y', '', ' ']))]

In [8]:
filtered[['ctnum', 'itype_l', 'itype_s', 'sms_yn', 'adt1_yn', 'telf2']].head()

       ctnum itype_l itype_s sms_yn adt1_yn          telf2
0  216060780       1     242      Y            01082120482
3  220007001       1     300      Y       Y    01030220044
5  218133638       1     180      Y            01063030024
6  214075190       1     129      Y          010-9453-1725
9  216002005       1     034      Y            01093222063

In [9]:
filtered['ctnum'] = filtered['ctnum'].astype(str)

In [10]:
filtered['chk'] = "Y"

In [11]:
df['사업자등록번호'] = df['사업자등록번호'].fillna(0)
df['사업자등록번호'] = df['사업자등록번호'].astype(int)
df['사업자등록번호'] = df['사업자등록번호'].astype(str)

In [12]:
# 둘 다 and조건으로 n가 아니어야 함. 사업자등록번호 조건이 n이 아니고, filtered 조건도 n이 아니고.

In [13]:
# 여기에 사업자등록번호 조건 코드 넣기
df['사업자_중간'] = df['사업자등록번호'].str[3:5]

In [14]:
df['사업자_chk'] = np.where(df['사업자_중간'].isin(['82', '83']), "Y", "N")

In [15]:
df['계약번호'] = df['계약번호'].astype(str)

In [16]:
df_merged = df.merge(filtered[['ctnum', 'chk', 'telf2']], how='left', left_on='계약번호', right_on='ctnum')

In [17]:
df_merged.head()

,계약번호,변경요청번호,승인상태,경비상호,현상태,고객코드,업종,사업자등록번호,사업자_중간,사업자_chk,ctnum,chk,telf2
0,100000232,RT5389467,승인,자연숲유치원,경비,CU1379017,유치원어린이집,5138025358,80,N,NaN,NaN,NaN
1,100001062,RT5834195,승인,시립풍산어린이집,경비,CU1331842,유치원어린이집,1288023166,80,N,NaN,NaN,NaN
2,100001284,RN0001284,승인,미로미술,경비,CU1525844,유치원어린이집,0,,N,NaN,NaN,NaN
3,100001646,RT4876156,승인,청아어린이집,경비,CU1113913,유치원어린이집,5038209879,82,Y,NaN,NaN,NaN
4,100001791,RT4344225,승인,파크밸리어린이집,경비,CU1525907,유치원어린이집,0,,N,NaN,NaN,NaN

In [18]:
df_merged[(df_merged['사업자_chk']=='N') & (df_merged['chk'].isnull()==False)].groupby('업종').count()['계약번호']

업종
유치원어린이집    1665
학원         2968
Name: 계약번호, dtype: int64

In [22]:
df_merged['telf2'] = df_merged['telf2'].str.replace('-|/|' '|'  '', '', regex=True)
df_merged['telf2'] = np.where(df_merged['telf2'].str[0] != '0', "0"+df_merged['telf2'], df_merged['telf2'])
df_merged['telf2'] = df_merged['telf2'].str.replace(' ', '')
df_merged['telf2'] = df_merged['telf2'].str.replace('(', '')
df_merged['telf2'] = df_merged['telf2'].str.replace(')', '')

In [23]:
df_merged[(df_merged['사업자_chk']=='N') & (df_merged['chk'].isnull()==False)]

,계약번호,변경요청번호,승인상태,경비상호,현상태,고객코드,업종,사업자등록번호,사업자_중간,사업자_chk,ctnum,chk,telf2
6,100002788,RT4783525,승인,구립해솔어린이집,경비,CU1452978,유치원어린이집,5718000839,80,N,100002788,Y,01082291538
45,100025880,RT7303830,승인,시립장미어린이집(G),경비,CU1351407,유치원어린이집,1288047931,80,N,100025880,Y,01041441626
80,100031137,RT6918818,승인,예인성균관어린이집,경비,CU1340511,유치원어린이집,1418017731,80,N,100031137,Y,01024271121
93,100033187,RT4207393,승인,꼬마대통령어린이집(S),경비,CU1341717,유치원어린이집,2068018250,80,N,100033187,Y,01029816336
97,100033556,RT5776947,승인,구립여의동어린이집,경비,CU1342349,유치원어린이집,1078010169,80,N,100033556,Y,01089085806
104,100034268,RT7087602,승인,신미라유치원,경비,CU1331693,유치원어린이집,4108009215,80,N,100034268,Y,01036364848
116,100036151,RN0036151,승인,린덴바움유치원1층,경비,CU1348427,유치원어린이집,7678000366,80,N,100036151,Y,01085805903
123,100037317,RN0037317,승인,다솜유치원,경비,CU1365453,유치원어린이집,1178003888,80,N,100037317,Y,01065011523
142,100039956,RN0039956,승인,시립가장어린이집,경비,CU1368601,유치원어린이집,1288024791,80,N,100039956,Y,01046703549
165,100043709,RT6818493,승인,동원유치원,경비,CU1373289,유치원어린이집,1128902908,89,N,100043709,Y,01090052844
189,100063649,RT7033821,승인,사랑샘어린이집(지하)(N),경비,CU1330141,유치원어린이집,6878000037,80,N,100063649,Y,01052860389
208,100075298,RT6936330,승인,동탄우리유치원(S),경비,CU1407731,유치원어린이집,1248024708,80,N,100075298,Y,01052755400
293,101005926,RP1005926,승인,피노키오어린이집,경비,CU1734167,유치원어린이집,3058015472,80,N,101005926,Y,01064248821
379,200123073,RT4647240,승인,동화나라어린이집,경비,CU0662782,유치원어린이집,5078000084,80,N,200123073,Y,01035243161
383,200127750,RT7087775,승인,동문 한우리유치원,경비,CU0472917,유치원어린이집,1418001923,80,N,200127750,Y,01042850785
395,201104555,RT5039969,승인,빛누리유치원,경비,CU0117288,유치원어린이집,6228000739,80,N,201104555,Y,01048750578
396,201105510,RT7237302,승인,동아유치원,경비,CU0118068,유치원어린이집,5138000395,80,N,201105510,Y,01038132377
401,201115192,RQ2084209,승인,잠원꿈밭어린이집,경비,CU1706284,유치원어린이집,1148004699,80,N,201115192,Y,01042333296
422,202146854,RT6790758,승인,코오롱 안양 1층 서진어린이집,경비,CU0627841,유치원어린이집,1388519612,85,N,202146854,Y,01012341234
437,203109486,RT3886080,승인,수성세발자전거유치원,경비,CU0870546,유치원어린이집,5028010082,80,N,203109486,Y,01055136000
438,203109587,RT0650864,승인,봉암어린이집,경비,CU0209441,유치원어린이집,1278003060,80,N,203109587,Y,01037015238
460,204108278,RT6543089,승인,미일유치원,경비,CU0207431,유치원어린이집,1378011631,80,N,204108278,Y,01033439763
477,204135361,RT7392665,승인,해돋이유치원,경비,CU0212712,유치원어린이집,6088004796,80,N,204135361,Y,01035577676
487,205101943,RT5094412,승인,동심어린이집,경비,CU0281422,유치원어린이집,1288012941,80,N,205101943,Y,01091045758
518,205139697,RT3604662,승인,동화마을유치원,경비,CU0636514,유치원어린이집,1248024047,80,N,205139697,Y,01087585908
522,205144649,RT6115169,승인,토마토어린이집,경비,CU0313093,유치원어린이집,6138004202,80,N,205144649,Y,01045836421
523,205146646,RT7135720,승인,태평양어린이집,경비,CU0314535,유치원어린이집,3058008549,80,N,205146646,Y,01094018086
538,206115894,RT5217514,승인,부광유치원 숭의,경비,CU0333518,유치원어린이집,1318000403,80,N,206115894,Y,01030054198
562,206143867,RT3315833,승인,은정유치원,경비,CU0353293,유치원어린이집,3148005264,80,N,206143867,Y,01024027814
602,207139532,RT7090129,승인,삼리어린이집,경비,CU0390716,유치원어린이집,1268010888,80,N,207139532,Y,01077209409
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8429,220203044,RT7329256,승인,(주)프레리에듀,경비,CU1951666,학원,5978102063,81,N,220203044,Y,01049175177
8430,220203228,RT7331000,승인,키즈칼리지제휴어학원,경비,CU1951761,학원,2159362051,93,N,220203228,Y,01054290595
8431,220203239,RT7331161,승인,스튜디오에이큐,경비,CU1951766,학원,2542500992,25,N,220203239,Y,01090420749
8432,220203262,RT7331392,승인,블레스음악연습실,경비,CU1951788,학원,3791801313,18,N,220203262,Y,01099033302
8433,220203470,RT7332757,승인,동아대무예스쿨옥포점,경비,CU1951918,학원,6120741609,07,N,220203470,Y,01064376124
8435,220203582,RT7333389,승인,중앙학원,경비,CU1951990,학원,1149515109,95,N,220203582,Y,01090806292
8436,220204031,RT7335805,승인,필라올로지가좌동점,경비,CU1952310,학원,6355600517,56,N,220204031,Y,01071105594
8437,220204464,RT7339226,승인,(주)울브스컴퍼니,경비,CU1952594,학원,1958601956,86,N,220204464,Y,01028091088
8438,220204729,RT7340268,승인,칠드런스뮤지컬컴퍼니(주)동탄브릿지,경비,CU1952770,학원,1128541994,85,N,220204729,Y,01028492761
8439,220205112,RT7342780,승인,SLP&유투엠학원,경비,CU1953003,학원,4879001468,90,N,220205112,Y,01024120138
8440,220205271,RT7344277,승인,아이비스터디카페(세종도담점),경비,CU1953089,학원,7704800509,48,N,220205271,Y,01087460995
8442,220206413,RT7351420,승인,용인대새빛태권도,경비,CU1953831,학원,1379187608,91,N,220206413,Y,01036950467
8443,220207178,RT7356316,승인,독해랑창의랑DMC직영학원,경비,CU1954339,학원,0,,N,220207178,Y,01054439278
8444,220207216,RT7356730,승인,윤선생영어숲,경비,CU1952302,학원,0,,N,220207216,Y,01099393096
8447,220208005,RT7361244,승인,버드리아카데미학원,경비,CU1954900,학원,2939800346,98,N,220208005,Y,01093775834
8448,220208039,RT7361550,승인,겨자의꿈,경비,CU1954911,학원,1289076041,90,N,220208039,Y,01081927452
8449,220208286,RT7363742,승인,한양대APEX태권도,경비,CU1955058,학원,7859400487,94,N,220208286,Y,01047234793
8450,220208607,RT7365368,승인,리프유도체육관,경비,CU1955281,학원,2109557483,95,N,220208607,Y,01037392758
8451,220208792,RT7366668,승인,서홍이글태권도,경비,CU1955406,학원,5669900125,99,N,220208792,Y,01024164760
8452,220208799,RT7366700,승인,제스영어,경비,CU1955410,학원,3949701073,97,N,220208799,Y,01029874914
8453,220208879,RT7367145,승인,인앤뮤직,경비,CU1955455,학원,8189501352,95,N,220208879,Y,01048877040
8454,220209292,RT7370422,승인,에이플러스독서실,경비,CU1955681,학원,6169185030,91,N,220209292,Y,01036936313
8456,220209524,RT7383173,승인,김지연스트레스상담센터,경비,CU1955823,학원,2429101033,91,N,220209524,Y,01062070456
8457,220209539,RT7383213,승인,메이트티영어학원,경비,CU1955829,학원,4979201396,92,N,220209539,Y,01041696080
8458,220209736,RT7372839,승인,제이엠영어학원,경비,CU1955983,학원,5139055787,90,N,220209736,Y,01047128906
8459,220210165,RT7375416,승인,해금소리,경비,CU1783402,학원,6151138416,11,N,220210165,Y,01075884211
8460,220210205,RT7375731,승인,큰사람독서실,경비,CU1725249,학원,2249105818,91,N,220210205,Y,01030239050
8462,220210888,RT7380863,승인,몬스터연기학원2,경비,CU1956710,학원,0,,N,220210888,Y,01041105520
8463,220210919,RT7381218,승인,무한꿈터,경비,CU1956736,학원,0,,N,220210919,Y,01085491370
8464,220211352,RT7388040,승인,아이러브뮤직,경비,CU1956951,학원,2479800514,98,N,220211352,Y,01099468879

In [27]:
df_merged[(df_merged['사업자_chk']=='N') & (df_merged['chk'].isnull()==False)].to_csv('신사업지원팀요청_DTG_LMS_201117.csv', encoding='utf-8-sig')